*{

    padding: 0px;
    margin: 0px;
}

.sha{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20220209/pngtree-text-password-button-net-information-signaling-photo-image_21347162.jpg);
 
}